<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= viewData.nombre %></title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="main-container">
        <h1><%= viewData.nombre %></h1>
        <img src="<%= viewData.imagen %>" alt="<%= viewData.nombre %>">
        <p>"<%= viewData.frase %>"</p>
        <p class="host-id">
            Container Id: <%= viewData.host %>
        </p>
    </div>
</body>
</html>
