<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokenea.nombre %></title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="main-container">
        <h1><%= pokenea.nombre %></h1>
        <img src="<%= pokenea.imagen %>" alt="<%= pokenea.nombre %>">
        <p>"<%= pokenea.frase %>"</p>
    </div>
</body>
</html>
